{% extends "admin/layout.html" %}
{% block body %}

    <h1 align="center">Image Upload</h1>

    <form action="/imageup" method="POST" enctype="multipart/form-data">
        <input class="form-control" type="file" name="file" accept="image/*" multiple><br>
        <input class="btn btn-primary" type="submit" value="Upload">
    </form>

    <h2>Uploaded Images:</h2>
    <ul>
        {% for image in images %}
            <li>
                <img src="{{ url_for('static', filename='img/upload_image/' + image.filename) }}" alt="{{ image.filename }}" width="100">
                <a href="{{ url_for('delete_image', image_id=image.id) }}" onclick="return confirm('Are you sure you want to delete this image?')">Delete</a><br><br><br>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
