{% extends "layout.html" %}
{% block body %}
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">XYZ College<br><span>Cultural</span> Event</h1>
      <p class="mb-4 pb-0">XYZ College (Arts & Commerece), Andheri West</p>
      <a href="https://www.youtube.com/watch?v=6KfqrxlJXSY" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="/about" class="about-btn scrollto">About XYZ College</a>
    </div>
  </section>

  <main id="main">
  </main>
{% endblock %}


